.main {
  height: 100vh;
}
.animationContainer {
  width: 150px; /* Ajuste conforme necessário */
  height: 150px; /* Ajuste conforme necessário */
  overflow: hidden; /* Garante que nada saia do contêiner */
  margin-top: 30%;
  margin-left: 40%;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Suaviza mudanças de tamanho */
}
.sobre {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1rem;
}

.left {
  background-color: #f2f2f2; /* Metade esquerda branca */
  width: 50%; /* Ocupa 50% do espaço */
  height: 100%; /* Altura total */
  position: absolute;
  left: 0; /* Alinhar à esquerda */
  border-bottom-right-radius: 100px; /* Bordas arredondadas na parte inferior esquerda */
}

.right {
  background-color: #e26512; /* Metade direita laranja */
  width: 50%; /* Ocupa 50% do espaço */
  height: 100%; /* Altura total */
  position: absolute;
  right: 0; /* Alinhar à direita */
  border-bottom-left-radius: 100px; /* Bordas arredondadas na parte inferior esquerda */
}

.card {
  padding: 15px;
  border-radius: 40px; /* Bordas arredondadas */
  height: auto;
  width: 80%; /* Alterado para permitir ajuste em telas menores */
  transition: transform 0.2s; /* Suaviza a transformação */
  margin: 1rem; /* Adiciona margem para espaçamento */
  display: flex; /* Permite layout flexível para conteúdo interno */
  flex-direction: column; /* Alinha conteúdo interno na vertical */
  align-items: center; /* Centraliza conteúdo interno */
}

.card:hover {
  transform: scale(1.05); /* Aumenta a div em 5% */
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .animationContainer {
    width: 120px; /* Reduz tamanho em telas menores */
    height: 120px;
    margin-top: 20%; /* Ajusta margem superior */
    margin-left: 35%; /* Ajusta margem esquerda */
  }

  .card {
    width: 80%; /* Aumenta a largura em telas menores */
  }
}

@media (max-width: 480px) {
  .main {
    padding-inline: 0.5rem; /* Diminui o padding em telas menores */
  }

  .animationContainer {
    width: 100px; /* Ajusta tamanho para telas de celulares */
    height: 100px;
    margin-top: 50%; /* Ajusta margem superior */
    margin-left: 30%; /* Ajusta margem esquerda */
    display: none;
  }

  .card {
    width: 120%; /* Ajusta a largura para telas de celulares */
  }
  .card p {
    font-size: 12px;
  }
  .right {
    background-color: #e26512; /* Metade direita laranja */
    width: 30%; /* Ocupa 50% do espaço */
    height: 100%; /* Altura total */
    position: absolute;
    right: 0; /* Alinhar à direita */
    border-bottom-left-radius: 100px; /* Bordas arredondadas na parte inferior esquerda */
  }
}
