nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: #0a0a0a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
}

section {
  height: auto;
}

.bord {
  width: 90%;
  border: #cbcccf 0.1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  cursor: pointer;
}

ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  flex: 1;
  padding: 10px 10px;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .nav ul {
    flex-direction: row;
    align-items: center;
    font-size: 14px;
  }

  .bord {
    width: 100%;
  }

  .ul {
    gap: 0;
    margin: 0;
    padding: 10px 0px;
  }
}
@media (max-width: 480px) {
  .nav ul {
    gap: 0px;
  }
}

ul li a:hover {
  color: #e26512;
}
ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

.ul {
  font-size: 18px;
  font-weight: 700;
  font-family: monospace;
  gap: 2rem;
}

ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: #e26512 2px solid;
  border-top: #e26512 2px solid;
  transform: scaley(1.5);
  opacity: 0;
  transition: 0.4s;
}
ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform: scale(1.5);
  opacity: 0;
  transition: 0.4s;
  z-index: -1;
}
.icone {
  width: 14px;
  height: 14px;
  filter: invert(1);
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  transition: transform 0.1s ease;
  cursor: pointer;
}
.icons:hover {
  transform: scale(1.2);
}
.lineNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: transform 0.1s ease;
}
.columIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lineIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.1s ease;
}

.Nome {
  font-size: 28px;
  color: #e26512;
  font-weight: 400;
  font-family: "Jaini", "system-ui", sans-serif;
  margin-bottom: 0.3rem;
}
